
.defaultModal {
  position: fixed;
  width: 300px;
  height: 400px;
  text-align: center;
  margin: auto;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: ghostwhite;
  border-radius: 30px;
}

.defaultModal:focus {
  outline: none;
}

.delOpModal {
  margin: auto;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: ghostwhite;
  position: fixed;
  width: 300px;
  height: 400px;
  border-radius: 30px;

}

.delOpModal:focus {
  outline: none;
}

/* .outerCheckbox { */
  /* text-align: center; */
/* } */


.a{
  display: flex;
  justify-content: space-around;
}

.asdass {
  margin-top: 30px;
}

.innerBox {
  display: flex;
  margin-top: 5px;
}

.innerNamebox {
  margin-left: -50px;
  margin-bottom: 5px;
  display: flex;
  line-height: 21px;
}

.delOpButtons {
  margin-top: 40px;
  text-align: center;
}

.allContainers {
  resize: both;
  overflow: hidden;
}

.opNames {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


.Мегафон {
  background-image: url(megafon.png);
}

.Билайн {
  background-image: url(beeline.png);
}

.МТС {
  background-image: url(mts.png);
}

.newOp {
  background-image: url(newop.png);
}

.delOp {
  background-image: url(delop.png);
}



.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(102,102,102,.8);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}


.divTitle {
  text-align: center;
  margin-top: 20px;
  height:80px;
  overflow:hidden;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);

}

/*h2 {*/
/*  font-family: 'Arimo', sans-serif;*/
/*  color: #231f20;*/
/*}*/

/*!* Chrome, Safari, etc... *!*/
/*input[type=number]::-webkit-outer-spin-button,*/
/*input[type=number]::-webkit-inner-spin-button {*/
/*  -webkit-appearance: none;*/
/*  margin: 0;*/
/*}*/

/*!* Firefox *!*/
/*input[type=number] {*/
/*  -moz-appearance: textfield;*/
/*}*/