html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  width: 200px;
  height: 200px;
  padding: 50px;
  /* float: left; */
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 50px;
  border-radius: 50px;
  display: flex ;
  /* justify-content: center; */
}


input {
  border: 1px solid #696969;
  border-radius: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  background: #ffffff !important;
  outline: none;
  height: 30px;
  width: 190px;
  color: black;
  font-size: 15px;
  font-family: Tahoma;
  padding: 5px;
  margin: 8px 0;
  box-sizing: border-box;
}

h2 {
  /*font-family: 'Arimo', sans-serif;*/
  color: #231f20;
}

/* Chrome, Safari, etc... */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

